@charset "utf-8";

.recentchatbox {
  padding: 19px;
  position: fixed;
  background-color: #f6f7f7;
  border-radius: 25px;
  margin-left: 5px;
  right: 0px;
  display: inline;
  border: 1px solid #efefef;
  cursor: pointer;
}

.recentchatbox:hover {
  background-color: #fbfbfb;
}

.recentchatbox .onlinestatus {
  background-color: #27FF46;
  padding: 5px;
  border-radius: 9px;
  position: absolute;
  top: 26px;
  right: 0px;
  z-index: 100;
}

.recentchatbox .recentchatboxicon {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 25px;
}

.recentchatbox .recentchatboxicon .recentcontacticon {
  padding: 19px;
  background-size: 100% auto;
  background-image: url(man.png);
}

.recentchatbox .recentchatboxicon table {
  border: none;
}

tr td .recentmembericon {
  background-color: #dae6ff;
  padding: 8.7px;
  border-radius: 15px;
  background-size: 100% auto;
  background-image: url(man.png);
}

.recentchatbox .recentchatboxlabel {
  visibility: visible;
  position: absolute;
  margin-top: 32px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  opacity: 1;
  transition: all 0.2s linear;
}

.recentchatbox .hiderecentchatboxlabel {
  visibility: hidden;
  position: absolute;
  margin-top: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  opacity: 0;
  transition: all 0.2s linear;
}

.pointer {
  margin-left: auto;
  order: 1;
  margin-right: 11.5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #959aa5;
}

.recentchatboxlabel .recentchatboxname {
  display: block;
  position: absolute;
  margin-left: auto;
  order: 2;
  padding: 6px 10px;
  white-space: nowrap;
  background-color: #959aa5;
  border-radius: 15px;
  top: 4.5px;
  right: -8px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: right;
  color: #f1f1f1;
}

.hiderecentchatboxlabel .recentchatboxname {
  display: block;
  position: absolute;
  margin-left: auto;
  order: 2;
  padding: 6px 10px;
  white-space: nowrap;
  background-color: #95a5a2;
  border-radius: 15px;
  top: 4.5px;
  right: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: right;
  color: #f1f1f1;
}

.recentnotice   {
  padding-top: 1px ​0px 0px 0px;
  margin-left: auto;
  order: 2;
}
.recentnotice.hidenotice  {
  /* display: inline; */
  display: none;
}
.recentnotice  .noticevalue  {
  background-color: rgba(237,0,0,1.00);
  color: rgba(255,255,255,1.00);
  padding: 0 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: small;
}

.recentchatbox .noticebean {
  position: absolute;
  top: -3px;
  left: -5px;
  z-index: 100;
}

.recentchatbox .closebean {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 100;
}

.closebean .close .closeicon {
  color: #FC4C4C;
  background-color: #FFFFFF;
  line-height: 9px;
  font-size: 11px;
  font-weight: 700;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid #F3F3F3;
}

.closebean .close .hidecloseicon {
  display: none;
}
